{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Séries de la catégorie {{ category.name }}</h1>

        {% for program in programs %}
            <div class="card">
                <img class="align-self-center" style="max-width: 50%" src="{{program.poster}}" alt="{{ program.title }} poster">
                <div class="card-body">
                    <h3 class="card-title">
                        {{ program.title }}
                    </h3>
                    <p class="card-text">
                        {{ program.summary }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}